.nav-comp {
	width: 90%;
	padding: 20rpx  0 20rpx 20rpx;
}
.nav-list {
	display: flex;
	gap: 40rpx;
}
.item > .img image {
	width: 60rpx;
	height: 60rpx;
	object-fit: contain;
	display: block;
	margin: 0 auto;
}
.item .text {
	font-size: 24rpx;
	margin-top: 10rpx;
}
.hot {
	display: flex;
	align-items: center;
	margin-top: 20rpx !important;
	gap: 20rpx;
	padding: 0rpx 20rpx;
	border-bottom: 1px solid #666;
}
.hot > .hot-img > image {
	width: 100rpx;
	height: 100rpx;
}
.hot-swiper {
	flex: 1;
}
.swiper {
	height: 62rpx;
	width: 100%;
}
.swiper-item {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10rpx;
}
.swiper-item .no {
	font-size: 24rpx;
}
.swiper-item .hot-title {
	font-size: 30rpx;
}
.top3{
	color: #fff;
	background-color: red;
	padding: 4rpx 6rpx 2rpx;
	font-weight: bold;
}
.card-title {
	display: flex;
	padding: 20rpx 0rpx 20rpx 20rpx;
	gap: 20rpx;
	overflow-x: auto;
}
.card-title view {
	color: #999;
	font-size: 32rpx;
	white-space: nowrap;

}
.card-content {
	width: 95%;
	margin: 0 auto;
}
.color-active {
	color: #000 !important;
}
.card-item {
	display: flex;
	background-color: #fff;
	border-radius: 20rpx;
	padding: 30rpx;
}
.card-item .tx{
	margin-right: 20rpx;
}
.info .time {
	color: #999;
	font-size: 28rpx;
	margin-bottom: 20rpx;
}
.info > .foot {
	margin: 30rpx 0 20rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info > .foot view {
	color: #666;
}
.info > .foot > .tag {
	flex: 1;
}
.info > .foot > .msg {
	margin-right: 60rpx;
}
.info > .foot > .tag text{
	background-color: #e2e1e4;
}
.foot image {
	width: 36rpx;
	height: 36rpx;
	margin-right: 15rpx;
}


/* 公告样式 */
.base {
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20rpx;
}
.tx image {
	width: 60rpx;
	height: 60rpx;
}
