page {
    background-color: #F6F6F6;
}

.space {
    flex: 1;
}

.content {
    background-color: #FFFFFF;
}

.content .flex {
    box-sizing: border-box;
    padding: 20rpx;
    display: flex;
}

.content .flex .left {
    width: 80rpx;

}

.content .flex .left .avatar {
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
}

.content .flex .left .avatar image {
    width: 100%;
    height: 100%;
}

.content .flex .right {
    box-sizing: border-box;
    padding-left: 10rpx;
    flex: 1;
}

.content .flex .right .header {
    display: flex;
}

.content .flex .right .nickname {
    font-size: 26rpx;
}

.content .flex .right .time {
    color: #939393;
    font-size: 26rpx;
}

.content .flex .right .like {
    min-width: 110rpx;
    height: 60rpx;
    border-radius: 10rpx;
    color: #919191;
    background-color: #FFFFFF;
    font-size: 28rpx;
    line-height: 60rpx;
    border: 1px solid #F9F9F9;
    display: flex;
}


.content .flex .right .body {
    line-height: 50rpx;
    Letter-spacing: 1rpx;
	font-size: 28rpx;
}

.content .flex .right .images {
    display: flex;
    flex-wrap: wrap;
}

.content .flex .right .images .item {
    max-width: 200rpx;
    max-height: 200rpx;
    min-width: 200rpx;
    min-height: 200rpx;
    flex: 1;
}

.content .flex .right .images .item image {
    width: 100%;
    height: 100%;
}

.content .flex .right .below {
    display: flex;
    margin-top: 20rpx;
}

.content .flex .right .below .tag {
    text-align: center;
    width: 140rpx;
    height: 45rpx;
    background-color: #F3F1FE;
    color: #0A51C2;
    border-radius: 15rpx;
    font-size: 24rpx;
    line-height: 45rpx;
}

.content .flex .right .below .btn-group {
    font-size: 26rpx;
    display: flex;
    color: #999999;
    line-height: 45rpx;
}

.content .flex .right .below .btn-group view {
    display: flex;
    margin-left: 40rpx;
}

.content .flex .right .below .btn-group .share{
    
}

.content .flex .right .below .btn-group .collect.active .uni-icons,
.content .flex .right .below .btn-group .collect.active {
    color: #E2A169 !important;
}


.content .flex .right .like.active .uni-icons,
.content .flex .right .like.active {
    color: #4D71C9 !important;
}

.spread {
    margin: 15rpx 0rpx;
}

.review {
    box-sizing: border-box;
    padding: 0rpx 15rpx 0rpx 25rpx;
    background-color: #F6F6F6;
}

.review .header {
    display: flex;
    margin: 35rpx 0rpx;
}

.review .header .title {
    font-weight: 550;
}

.review .below {
    color: #CBCBCB;
    text-align: center;
    margin-bottom: 330rpx;
}

.review .below .nomore {
    /* margin: 80rpx 0rpx; */

    margin-top: 80rpx;
    font-size: 22rpx;
}

.review .below .copy {
    font-size: 26rpx;
    margin-top: 80rpx;
}






.comment {
    position: fixed;
    bottom: 0rpx;
    display: flex;
    height: 100rpx;
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-right: 30rpx;
}

.comment .input {
    background-color: #F3F3F3;
    border-radius: 40rpx;
    /* width: 620rpx; */
    flex: 1;
    height: 60rpx;
    margin: 20rpx 0rpx;
    line-height: 60rpx;
}

.comment .avatar {
    width: 60rpx;
    height: 60rpx;
    margin: 20rpx;
}

.comment .avatar image {
    width: 100%;
    height: 100%;
}

.comment .input view {
    color: #B7B7B7;
    box-sizing: border-box;
    padding-left: 35rpx;
}

:deep(.u-popup__content) {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 630rpx;
    height: 710rpx;
    border-radius: 10rpx;
}

.modal .header {
    height: 100rpx;
    line-height: 100rpx;
    font-size: 30rpx;
    font-weight: 600;
    width: 100%;
}

.modal .body {
    flex: 1;
    text-align: left;
}

.modal .body .box {
    border-radius: 5rpx;
    margin: 0rpx 40rpx;
    box-sizing: border-box;
    padding: 25rpx;
    height: 100%;
    width: calc(100% - 80rpx);
    /* width: 100%; */
    background-color: #F9F9F9;
}

.modal .body .box #t1 {
    width: 100%;
    line-height: 46rpx;
    height: 100%;
    font-size: 26rpx;
}

.modal .action {
    height: 190rpx;
    display: flex;
    align-items: center;
}

.modal .action .issue {
    background-color: #0063FF;
    width: 300rpx;
    color: #FFFFFF;
    font-size: 26rpx;
}

.sidebar {
    color: #fff;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: 155rpx;
    right: 20rpx;
    font-size: 24rpx;
    width: 80rpx;
    background-color: rgba(0, 0, 0, .6);
    height: 280rpx;
}

.sidebar view {
    margin-top: 8rpx;
    flex: 1;
}