#page {
    background-color: #FFFFFF;
}

.header {
    box-sizing: border-box;
    padding-top: 30rpx;
    min-height: 240rpx;
    background-color: #FFFFFF;
}

.header .search {
    display: flex;
    border-radius: 10rpx;
    margin: 0rpx 30rpx;
    height: 66rpx;
    line-height: 66rpx;
    background-color: #F3F3F3;
}

.header .search-history {
    box-sizing: border-box;
    padding: 20rpx 30rpx;
    display: flex;
    flex-wrap: wrap;
}

.header .search-history .item {
    height: 60rpx;
    display: flex;
    margin: 10rpx 0rpx;
    box-sizing: border-box;
    border-radius: 10rpx;
    padding: 0rpx 15rpx;
    background-color: #F3F3F3;
    margin-right: 20rpx;
    line-height: 60rpx;
    /* max-width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.header .search .search-icon {
    margin: 0rpx 20rpx;
}

.header .search .close {
    position: absolute;
    right: 40rpx;
}

.header .input {
    flex: 1;
    padding-right: 80rpx;
    line-height: 66rpx;
    height: 66rpx;
}

.header .history-title {
    display: flex;
    flex-direction: row;
    align-content: end;
    margin: 0rpx 30rpx;
    margin-top: 25rpx;
}

.header .history-title .space {
    flex: 1;
}

.header .history-title .boldface {
    font-weight: 600;
    font-size: 32rpx;
}

.header .history-title .clear {
    color: #9A9A9A;
    display: flex;
}

.header .blank {
    text-align: center;
    color: #999;
    box-sizing: border-box;
    padding: 20rpx 30rpx;
    margin-top: -5rpx;
}


.popular {
    background-color: #FFFFFF;
    margin: 0rpx;
    margin-top: 15rpx;
    margin-bottom: 180rpx;
    box-sizing: border-box;
    padding-bottom: 40rpx;
}

.popular .title {
    display: flex;
    margin: 0rpx 30rpx;
    box-sizing: border-box;
    padding-top: 35rpx;
}

.popular .list .item {
    display: flex;
    margin: 0rpx 30rpx;
    box-sizing: border-box;
    padding: 35rpx 0px;
    border-bottom: 1px solid #F6F6F6;
}

.popular .list .item .index {
    color: #908F95;
}

.popular .list .item .color0 {
    color: #CB5B54;
}

.popular .list .item .color1 {
    color: #E58439;
}

.popular .list .item .color2 {
    color: #D3BA89;
}

.popular .list .item .content {
    flex: 1;
    margin-left: 25rpx;
}

.popular .list .item .space {
    flex: 1;
}